<div class="container">
  <h3 class="h3"><%= t "header.foods" %> </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("food1.jpeg", class: "pic-1") %>
          <%= image_tag("food2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("food1.jpeg", class: "pic-1") %>
          <%= image_tag("food2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("food1.jpeg", class: "pic-1") %>
          <%= image_tag("food2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("food1.jpeg", class: "pic-1") %>
          <%= image_tag("food2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
  </div>
  <h3 class="h3"><%= t "header.drinks" %> </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("drink1.jpeg", class: "pic-1") %>
          <%= image_tag("drink2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("drink1.jpeg", class: "pic-1") %>
          <%= image_tag("drink2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("drink1.jpeg", class: "pic-1") %>
          <%= image_tag("drink2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
          <%= image_tag("drink1.jpeg", class: "pic-1") %>
          <%= image_tag("drink2.jpeg", class: "pic-2") %>
          </a>
          <span class="product-new-label"><%= t "product.new" %></span>
          <span class="product-discount-label"><%= t "product.discount" %></span>
        </div>
          <div class="product-content">
            <h3 class="title">
              <%= link_to t("product.name"), "#"  %>
            </h3>
            <div class="price">
              <%= t "product.price" %>
            </div>
            <%= link_to t("product.add_to_cart"), "#", class: "add-to-cart" %>
          </div>
      </div>
    </div>
  </div>
</div>
