<div class="card">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">
        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1">
            <%= load_image_product @product %>
          </div>
        </div>
      </div>
      <div class="details col-md-6">
        <h1 class="product-title"><%= @product.name %></h1>
        <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
        <h5 class="product-description">
          <%= @product.description %>
        </h5>
        <h4 class="price">
          <%= t "product_detail.price" %>
          <span><%= number_to_currency @product.price %></span>
        </h4>
        <h5 class="quanlity"><%= t "product_detail.stock" %>
          <%= @product.quantity %><%= t "product_detail.p" %>
        </h5>
        <h5>
          <%= t "product_detail.quantity" %>
          <%= number_field_tag(:quantity, 1, min: 1, max: @product.quantity, class: "form-control mb-5 input-lg") %>
        </h5>
        <div class="action">
          <button class="add-to-cart-detail btn-default" type="button">
            <%= t "product_detail.add_to_cart" %>
          </button>
          <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
