<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-navbar-light">
    <div class="container">
      <%= link_to t("foods_drinks"), root_path, class: "navbar-brand logo" %>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
       aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-default " type="submit"><i class="fa fa-search"></i></button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to t("header.home"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t "header.category" %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <%= link_to t("header.foods"), "#", class: "dropdown-item" %>
              <%= link_to t("header.drinks"), "#", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to t("header.contact"), "#", class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t "header.language" %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#"><%= link_to t("vietnamese"), locale: :vi %></a>
              <a class="dropdown-item" href="#"><%= link_to t("english"), locale: :en %></a>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to t("header.cart"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("header.login"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("header.register"), "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
